#img1{
  width:80px;
margin-left: 15px;
}
body{
  background-color: #5E5E5E;
}
div{
	 width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

#youtub{
	width: 55px;
	margin-left: 920px;
}
#twiter{
	width: 70px;
  margin-left: 1%;
}
#wk{
  width: 55px;
}

#f{
  width: 55px;
}
#logo{
  width: 60px;

}
#battle-pass{
  text-align: center;
  margin-top: 50px;
}
#p1{
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  }
#p2{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #fff;
}
#p3{
    margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #fff;
}
#p4{
    margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #fff;
}
#aba{
margin-left: 171px;
margin-right: 171px;
}